# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#virtual environment
venv/
__pycache__/
*.pyc
.env

farmer_chat-master/
backend/__pycache__/
backend/*.pyc
backend/chatbot_env/

dataset/raw/
*.jpg
*.png
*.jpeg
node_modules
dist
dist-ssr
*.local

# Environment variables
/farmer_chat-master/
.env
.env.local
.env.*.local

# Node modules
farmer_chat-master/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
farmer_chat-master/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
